# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
serve_images
results
data
checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
Radgraph/pycocoevalcap/physionet.org/files/radgraph/1.0.0/models/model_checkpoint/model.tar.gz
